
<%- include('../partials/header') %>
<div class="flightlist">
  <h1>Flight List:</h1>
  <table>
    <thead>
      <tr>
        <th>Delete Flight</th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td>
            <form action ="/flights/<%=f._id%>?_method=DELETE" method="POST" class="delete-form">
              <button type="submit">X</button>
              </form>
          </td>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>