
<%- include('../partials/header') %>
<div class="newForm">
<section id="show-page">
  <div><strong>Airline:</strong> </div>
  <div><%= flight.airline %></div>
  <br/>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <br/>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <br/>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
</section>
</div>
<br/>
<br/>

<div class="newForm">
  
  <br/>  
  <div id="ticketTable">
    <h4>Current Tickets:</h4>
  <% if (ticket.length) { %>
    <table>
        <thead>
            <tr>
                <th>Seat Number</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% ticket.forEach(function(t) { %>
            <tr>
                <td><%= t.seat %></td>
                <td>$<%= t.price %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <% } else { %>
    <h5>No Tickets Yet</h5>
    <% } %>
    <a href="/flights/<%=flight._id%>/tickets/new">Add Ticket</a>
  </div>
  <br/>
  <h4>Destinations:</h4>
  <% if (flight.destinations.length) { %>
      <table>
        <thead>
          <tr>
            <th>Arrival</th>
            <th>Airport</th>
        
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.createdAt.toLocaleDateString() %></td>
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
            <td>
              <form method="POST" action="/destinations/<%=d._id%>/<%=flight._id%>?_method=DELETE" class="delete-form">
                <button type ="submit">X</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>


  <br><br>
  <h4>Add Destination:</h4>
<form id="add-destination-form" method="POST"
  action="/destinations/flights/<%= flight._id %>">
  <label>Arrival:</label>
  <input type="datetime-local" name="arrival">
  <label>:</label>
  <select name="airport">
    <option value="ATL">ATL</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <input type="submit" value="Add Destination">
</form>

<%- include('../partials/footer') %>